configs/server-merger.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Ds.3783 (EMBRACE) -->
<!--DTD generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<!ELEMENT Cache_write (metaid)>
<!ELEMENT cache (metas)>
<!ELEMENT column EMPTY>
<!ATTLIST column
	name CDATA #REQUIRED
	optional CDATA #IMPLIED
>
<!ELEMENT columns (column)>
<!ELEMENT datebase (tasks, import_module, dbconfig,modules,tables, cache )>
<!ATTLIST datebase
	step CDATA #IMPLIED
>
<!ELEMENT dbconfig EMPTY>
<!ATTLIST dbconfig
	srcurl CDATA #REQUIRED
	srcuser CDATA #REQUIRED
	srcpass CDATA #REQUIRED
	desturl CDATA #REQUIRED
	destuser CDATA #REQUIRED
	destpass CDATA #REQUIRED
	driverName CDATA #REQUIRED
>
<!ELEMENT import_module (module+)>
<!ELEMENT include EMPTY>
<!ATTLIST include
	type (table) #REQUIRED
	name CDATA #REQUIRED
>
<!ELEMENT meta (columns)>
<!ATTLIST meta
	id CDATA #REQUIRED
	tableName CDATA #REQUIRED
	type CDATA #REQUIRED
	keyColumn CDATA #REQUIRED
	global (true|false)
>
<!ELEMENT metaid EMPTY>
<!ATTLIST metaid
	id CDATA #REQUIRED
>
<!ELEMENT metas (meta+)>
<!ELEMENT module (include*)>
<!ATTLIST module
	id CDATA #REQUIRED
>
<!ELEMENT module_seq (module+)>
<!ELEMENT modules (#PCDATA | module)*>
<!ELEMENT pk (column+)>
<!ATTLIST pk
	unset (true|false) #REQUIRED
>
<!ELEMENT replace (replacecolumn+)>
<!ELEMENT columnAlias EMPTY>
<!ATTLIST columnAlias
    colname cdata #REQUIRED
    alias cdata #REQUIRED
>    
<!ELEMENT replacecolumn (columnAlias*,condition*)>
<!ATTLIST replacecolumn
	type (cache | name | unset | default | rewrite | conditionalCache | listCache) #REQUIRED
	colname CDATA #REQUIRED
	ispk (true|false) #IMPLIED
	searchMetaId CDATA #IMPLIED
	canMiss (true|false) #IMPLIED
	missWriteBack (true|false) #IMPLIED
	rewriteValue CDATA #IMPLIED
	determinter CDATA #IMPLIED
>
<!ELEMENT condition EMPTY>
<!ATTLIST condition
    colname CDATA #REQUIRED
    value CDATA #REQUIRED
	searchMetaId CDATA #IMPLIED
	canMiss (true|false) #IMPLIED
>
<!ELEMENT noinsertmerge (noinsertmergecolumn+)>
<!ELEMENT noinsertmergecolumn EMPTY>
<!ATTLIST noinsertmergecolumn
    name CDATA #REQUIRED
    operation CDATA #REQUIRED
>
<!ELEMENT table (pk?, Cache_write?, replace?,noinsertmerge?, Cache_write?)>
<!ATTLIST table
	name CDATA #REQUIRED
	impl (common) #REQUIRED
	condition CDATA #IMPLIED
	ignorefail (true | false) #IMPLIED
>
<!ELEMENT tables (table+)>
<!ELEMENT tasks (task+)>
<!ELEMENT task EMPTY>
<!ATTLIST task
  type (sql|merge) #REQUIRED
  name CDATA #REQUIRED
  side (src|dest) #IMPLIED

>